<!DOCTYPE html>
<html>
  <head>
    <title>ChromaCoin API Reference</title>
    <style>
     body {
       font-family: Helvetica;
       background-color: #afa;
     }

     h2 { font-family: monospace; }

     h3 { font-size: 0.9em; }
     
     .parameters, .errors { background-color: #cfc; }
     .parameters .param, .errors .code { font-family: monospace; padding: 0.5em; }
     .parameters .value, .errors .reason { padding: 0.5em; }
     
    </style>
  </head>
  <body>
    <h1>ChromaCoin Ugly Ass API Reference</h1>
    <%= yield %>
  </body>
</html>
