<!DOCTYPE html>
<html>
  <head>
    <title>ChromaCoin API v1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <style>
     body {
       font-family: Helvetica;
       background-color: #afa;
     }

     .sidebar { padding-top: 2em; }

     table {
       background-color: #cfc;
       border: 1px solid #fff;
     }
     
     p, pre, table { margin: 1em 2em; } 
     th, td { padding: 0.5em; }

     h1, h2 { font-weight: bold; }
     h2 { margin-top: 2em; }
     h3 { margin-left: 1em; }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
	<div class="col-md-2 sidebar">
	  <ul class="list-group">
	    <li class="list-group-item"><a href="index.html"><b>home</b></a></li>
	    <li class="list-group-item"><a href="pools.html">pools</a></li>
	    <li class="list-group-item"><a href="queues.html">queues</a></li>
	    <li class="list-group-item"><a href="revenue.html">revenue</a></li>
	    <li class="list-group-item"><a href="tokens.html">tokens</a></li>
	    <li class="list-group-item"><a href="users.html">users</a></li>
	  </ul>
	</div>
	<div class="col-md-10">
	  
	  <%= content %>
	  
        </div>
      </div>
    </div>
	  
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
